@media screen and (min-width: 768px) {
    .accountContainer {
        height: 100% !important;
    }
    .accountContainer .container .row div:last-child {
        border-radius: 0 15px 15px 0 !important;
    }
}
.accountContainer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 100%;
    height: auto;
    background-color: blue;
    background-image: url("/images/AccountBG.jpg");
    background-repeat: no-repeat;
    background-position: 100% 100%;
}
.accountContainer .container .row {
    background-color: blue;
    border-radius: 15px;
    width: 100%;
    height: auto;
}
.accountContainer .container .row div:last-child {
    background-color: white;
    height: 500px;
    position: relative;
    overflow: hidden;
    direction: rtl;
    border-radius: 0 0 15px 15px;
}
.accountContainer .container .row div {
    height: 500px;
}
.accountContainer .container .row div:first-child section:first-child {
    margin-top: 50px;
    margin-left: 20px;
    background-color: red;
}
.accountContainer .container .row div:first-child section:nth-child(2) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    padding: 20px;
    justify-content: center;
    background-color: yellow;
}
.accountContainer .container .row div:first-child section:nth-child(3) {
    position: absolute;
    left: 20px;
    top: 80%;
    display: flex;
    padding: 20px;
    justify-content: start;
    background-color: yellow;
}
.accountContainer .container .row div {
    position: relative;
}
#loginTab {
    right: 20%;
}
#registerTab {
    right: 100%;
}
.accountContainer .container .row div:last-child section {
    width: 60%;
    position: absolute;
    transition: 1s ease-in-out;
    top: 50%;
    transform: translate(0, -50%);
    height: 85%;
}
.accountContainer .container .row div:last-child section h2 {
    margin-top: 10px;
    margin-bottom: 40px;
}
.accountContainer .container .row div:last-child section input {
    border: 3px solid;
    border-image-slice: 1;
    border-top: 0;
    border-left: 0;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-right: 0;
    display: block;
    border-image-source: linear-gradient(to left, #00c853, #b2ff59);
}
#loginTab button {
    border: 1px solid red;
    position: absolute;
    left: 50%;
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    top: 45%;
    transform: translate(-50%, -50%);
}
#registerTab button {
    border: 1px solid red;
    position: absolute;
    left: 50%;
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    top: 75%;
    transform: translate(-50%, -50%);
}
#LoginChangeBtn {
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 10px;
    position: absolute;
    top: 90%;
    right: 0;
}
#RegisterChangeBtn {
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 10px;
    position: absolute;
    top: 90%;
    right: 12%;
}