.sliderContainer {
    margin-top: 30px;
    z-index: 2;
}
.carousel {
    background: #fafafa;
}

.carousel-cell {
    width: 100%; /* full width */
    height: 100%; /* height of carousel */
    max-height: 600px;
    margin-right: 10px;
    background: #8c8;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0.8;
    transition: 0.5s linear;
}
.carousel-cell img {
    width: 100%;
    height: 100%; /* height of carousel */
}
/* cell number */
.carousel-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
}
.carousel-cell.is-selected {
    opacity: 1;
}
/* Artilces */
.articleContainer .container .row {
    direction: rtl;
}
.articleContainer .container .row div {
    padding: 10px;
    overflow: hidden;
}
.articleContainer {
    margin-top: 80px;
}
.underTheArticle {
    width: 100%;
    height: 500px;
    background-image: url("/images/LightHouseImage.png");
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
}
.underTheArticleV2 {
    width: 100%;
    height: 240px;
    background-image: url("/images/LightHouseImage.png");
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
}
.overTheArticle {
    width: 80%;
    display: flex;
    position: absolute;
    top: 55%;
    right: 5%;
    height: 35%;
}
/* Secion 2 */

.bigArticleSection2Item {
    direction: rtl;
}

.bigArticleSection2Item section:first-child {
    width: 100%;
    /* background-image: url("/images/LightHouseImage.png"); */
    background-size: cover;
    background-position: 50% 50%;
    height: 300px;
}
.articelFilterRowSection2 {
    height: 41px;
   border-bottom: 2px solid green;
   margin-bottom: 30px;
}
.articelFilterRowSection2 span:first-child{
    font-family: secondFont;
    background-color: green;
    color: white;
    padding: 10px 20px;
}
.articelFilterRowSection2 span{
    font-family: secondFont;
    padding: 5px 5px;
    transition: 0.3s linear;
    font-size: 1.3rem;
    color: green;

}

.articelFilterRowSection2 span:hover{
    background-color: green;
    color: white;
    cursor: pointer;

}

.articleSection2AllArticels {
    width: 100%;
    /* margin-right: 25px; */
    direction: rtl;
    height: 430px;
    overflow-y: scroll
}

.articleSection2AllArticels section {
    width: 100%;
    height: 200px;
    background-color: #e7e7e7;
    overflow: hidden;
    margin: 10 0 10 0;
    padding: 0 15 0 0;
}

.rightOfArticleSection2:first-child {
    border: 2px solid green; 
    height: 530px; 
    overflow-y: scroll;
}
.articleSection2AllArticels section .row div:first-child {
    background-size: cover;
    height: 200px;
    /* border-radius: 100%; */   
    /* -moz-border-radius: 70px; 
    -webkit-border-radius: 70px; 
    border-radius: 120px; */
    border-radius: 50%;
    background-position: 50% 50%;
}

.articleSection2AllArticels section .row h1 {
    margin-bottom: 10px;
    font-family: secondFont;
    font-size: 1.3rem;
}

.articleSection2AllArticels section .row div:nth-child(2) {
    position: relative;
}


.articleSection2AllArticels section .row div:nth-child(2) button {
    background-color: green;
    font-family: secondFont;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 15px;
}
.bigArticleSection2Item section:nth-child(2) h1 {
    font-family: secondFont;
    font-size: 1.6rem;
    margin-bottom: 5px;
}
.bigArticleSection2Item section:nth-child(3) {
    font-family: thirdFont;
    font-size: 1.1rem;
    height: 100px;
    overflow: hidden;
}

.indTitle {
    height: 35px;
    position: relative;
    font-family: secondFont;
    background-color: green;
    color: white;
  }
  
  .indTitle div {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }