@media screen and (max-width: 753px) {
    .faqContainer .container .row:nth-child(3) section {
        width: 100% !important;
        background-color: blue;
        margin: 0 auto;
    }
    .workWithUsHomeContainer .container section{
     width: 100% !important;
    }
}
.faqContainer .container .row:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.faqContainer .container .row:nth-child(2) h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: secondFont;
    font-weight: 500;
    font-size: 3rem;
    margin: 30px;
}
.faqContainer .container .row:nth-child(3) section {
    width: 70%;
    margin: 0 auto;
}
/* Accordion */
.accordion {
    color: black;
    cursor: pointer;
    padding: 30px;
    width: 100%;
    border: none;
    text-align: right;
    direction: rtl;
    background-color: white;
    outline: none;
    border-bottom: 2px solid var(--seventhColor);
    font-family: secondFont;
    font-size: 1.8rem;
    font-weight: 400;
    transition: 0.4s;
}
.accordion span{
    float: left;
    transition: 0.3s linear;
}
.active,
.accordion:hover {
    background-color: var(--seventhColor);
    color: white;
}
.panel {
    background-color: white;
    max-height: 0;
    padding: 0 18px;
    direction: rtl;
    font: firstFont;
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.rotateTheAccordionArrow {
    rotate: -90deg;
}

/* SliderLOOP */
.slider {

    width: 100%;
    position: relative;
    margin: auto;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.slide-track {
    display: flex;
    height: 75px;
    /* slide track width = total number of slides 9*2 = 18 * individual width (250px) */
    width: calc(var(--eachSliderLoopWidth) * 18);
    background-color: green;
    font-family: firstFont;
    animation: scroll 20S linear infinite;
}

.slide-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    33% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(calc(var(--eachSliderLoopWidth) *9 * 1))
    }
}
.slide {
    height: auto;
    width: var(--eachSliderLoopWidth);
    display: flex;
    align-items: center;
    padding: 35px;
    perspective: 100px;
    font-size: 2rem;
}


/* logo slider */

.logoSlider {
    width: 100%;
    position: relative;
    margin: auto;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.logo-slide-track {
    display: flex;
    /* slide track width = total number of slides 9*2 = 18 * individual width (250px) */
    width: calc(var(--eachSliderLoopWidth) * 18);
    font-family: firstFont;
    animation: logo-scroll 25S linear infinite;
}

.logo-slide-track:hover {
    animation-play-state: paused;
}

@keyframes logo-scroll {
    0% {
        transform: translateX(-25%)
    }

    100% {
        transform: translateX(calc(var(--eachSliderLoopWidth) *9 * 1))
    }
}
.logoSlide {
    height: var(--eachSliderLoopWidth);
    width: var(--eachSliderLoopWidth);
    background-size: contain;
    display: flex;
    align-items: center;
    padding: 35px;
    perspective: 100px;
    font-size: 2rem;
    margin: 15px;
    border-radius: 50%;
}

/* WorkWithUS */
.workWithUsHomeContainer {
    background-image: url('/images/WorkWithUS.jpg');
    background-size: cover;
}
.workWithUsHomeContainer .container {
    direction: rtl;
    font-family: forthFont;
    min-height: 800px;
    padding: 40px;
    color: rgb(255, 255, 255);
}
.workWithUsHomeContainer .container h3{
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 1.4rem;
}

.workWithUsHomeContainer .container h1{
    font-size: 3rem;
    padding-bottom: 300px;
}

.workWithUsHomeContainer .container section{
    padding: 15px;
    width: 90%;
}

  .workWithUsHomeContainer .container .row div section{
    text-align: center;
    background-size: cover; 
    width: 100%;
    margin-bottom: 10px;
    height: 300px;

}

.workWithUsHomeContainer .container .row div{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
}
.workWithUsHomeContainer .container .row div > div:nth-of-type(1) {
    /* position: absolute; */
    width: 85%;
    height: 50%;
    padding: 15px;
    color: black;
    /* background-color: rgb(48, 110, 131); */
    background: white;
    /* height: 50 vh; */
    /* width: 50 vw; */
    border: 2 px solid white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50% , -50% );
  }




.workWithUsHomeContainer .container .row div a{
    text-decoration: none;
    color: white;
}

.introTemplate .container .row {
    direction: rtl;
}
.introTemplate .container .row div section{
   background-color: red;
   padding: 10px;
   height: 300px;
}
.introTemplate .container .row div section div div{
   display: inline-block !important;
 }
 .introTemplateImageContainer div{
    padding: 10px;
    height: 300px;
    /* Barabar ba Samt Rast */
 }
 .workWithUsHomeContainer .container .row:first-child {
    margin-top: 100px;
 }

 .workWithUsHomeContainer .container .header {
    position: absolute;
    font-size: 3rem;
    left: 50%;
    transform: translate(-50%, -120%);
    text-align: center;
    padding: 50px;

    font-family: secondFont;
    backdrop-filter: blur(10px);
    color: rgb(179, 183, 179);
}
