@media screen and (max-width: 753px) {
    .faqContainer .container .row:nth-child(3) section {
        width: 100% !important;
        background-color: blue;
        margin: 0 auto;
    }
    .workWithUsHomeContainer .container section {
        width: 100% !important;
    }
}
.faqContainer .container .row:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.faqContainer .container .row:nth-child(2) h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: secondFont;
    font-weight: 500;
    font-size: 3rem;
    margin: 30px;
}
.faqContainer .container .row:nth-child(3) section {
    width: 70%;
    margin: 0 auto;
}
/* Accordion */
.accordion {
    color: black;
    cursor: pointer;
    padding: 30px;
    width: 100%;
    border: none;
    text-align: right;
    direction: rtl;
    background-color: white;
    outline: none;
    border-bottom: 2px solid var(--seventhColor);
    font-family: secondFont;
    font-size: 1.8rem;
    font-weight: 400;
    transition: 0.4s;
}
.accordion span {
    float: left;
    transition: 0.3s linear;
}
.active,
.accordion:hover {
    background-color: var(--seventhColor);
    color: white;
}
.panel {
    background-color: white;
    max-height: 0;
    padding: 0 18px;
    direction: rtl;
    font: firstFont;
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.rotateTheAccordionArrow {
    rotate: -90deg;
}

/* SliderLOOP */
.slider {
    width: 100%;
    position: relative;
    margin: auto;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.slide-track {
    display: flex;
    /* slide track width = total number of slides 9*2 = 18 * individual width (250px) */
    width: calc(var(--eachSliderLoopWidth) * 18);
    background-color: var(--forthColor);
    font-family: firstFont;
    animation: scroll 20s linear infinite;
}

.slide-track:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(var(--eachSliderLoopWidth) * 9 * -1));
    }
}
.slide {
    height: auto;
    width: var(--eachSliderLoopWidth);
    display: flex;
    align-items: center;
    padding: 35px;
    perspective: 100px;
    font-size: 2rem;
}

/* WorkWithUS */
.workWithUsHomeContainer {
    background-image: url("/images/WorkWithUS.jpg");
    background-size: cover;
}
.workWithUsHomeContainer .container {
    direction: rtl;
    font-family: forthFont;
    min-height: 800px;
    padding: 40px;
    color: rgb(255, 255, 255);
}
.workWithUsHomeContainer .container h3 {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 1.4rem;
}
.workWithUsHomeContainer .container h1 {
    font-size: 4.5rem;
    margin-bottom: 40px;
}
.workWithUsHomeContainer .container section {
    padding: 15px;
    width: 90%;
    border-radius: 10px;
}
.workWithUsHomeContainer .container .row {
    margin-top: 50px;
    padding: 20px;
}
.workWithUsHomeContainer .container .row .col {
    padding: 20px;
}
.workWithUsHomeContainer .container .row div section {
    background-color: azure;
    width: 100%;
    margin: 10px;
    height: 200px;
}
.introTemplate .container .row {
    direction: rtl;
    margin-top: 100px;
    margin-bottom: 100px;
}
.introTemplate .container .row div section {
    padding: 10px;
    height: auto;
}
.introTemplate .container .row div section h2 {
    font-family: firstFont;
    font-size: 2.2rem;
    margin-top: 10px;
}
.introTemplate .container .row div section button {
    background-color: var(--seventhColor);
    width: 150px;
    height: 50px;
    color: white;
    border-radius: 5px;
    transition: 0.2s linear;
    font-family: secondFont;
    border: 1px solid var(--seventhColor);
    margin-bottom: 30px;
    margin-top: 25px;
    text-align: center;
    -webkit-box-shadow: 10.5px 9px 10px 3px #3e5b42;
    -moz-box-shadow: 10.5px 9px 10px 3px #3e5b42;
    box-shadow: 10.5px 9px 10px 3px #3e5b42;
}
.introTemplate .container .row div section button:hover {
    -webkit-box-shadow: 13px 13px 7.5px 2px #3e5b42;
    -moz-box-shadow: 13px 13px 7.5px 2px #3e5b42;
    margin-right: 1px;
    box-shadow: 13px 13px 7.5px 2px #3e5b42;
}
.introTemplate .container .row div section h5 {
    font-family: firstFont;
    font-size: 1.3rem;
}
.introTemplate .container .row div section div div {
    display: inline-block !important;
    font-family: secondFont;
    font-size: 1.1rem;
}
.introTemplateImageContainer div {
    background-color: blue;
    padding: 10px;
    height: 300px;
    /* Barabar ba Samt Rast */
}
.workWithUsHomeContainer .container .row:first-child {
    margin-top: 200px;
}
