@charset "UTF-8";

.navigation {
    height: var(--navbarHeight);
    /* background: rgb(194, 152, 152); */
    /* margin-bottom: 15px; */
    z-index: 1000;
    position: relative;
}

.topnav .icon {
  display: none;
}

.brand {
    position: absolute;
    padding-left: 20px;
    z-index: 1000;
    float: left;
    line-height: var(--navbarHeight);
    text-transform: uppercase;
    font-size: 1.4em;
}

/* .toggleNav {
  position: absolute;
  padding-right: 20px;
  z-index: 1000;
  float: left;
  line-height: var(--navbarHeight);
  text-transform: uppercase;
  font-size: 1.4em;
} */

.brand a,
.brand a:visited {
    color: white;
    text-decoration: none;
}

.nav-container {
    /* max-width: 1000px; */
    margin: 0 auto;
}


.topnav {
    text-align:center;
    width: 100%;
    background: #bebebe;
    padding: 0;
    margin: 0;
    height: 75px;
    position:relative;
  }
  
  .topnav ul {
    background: black;
    list-style:none;
    margin: 0;
    /* height: 75px; */
    overflow: unset;
  }
  
  .articlesNav .row .industryList li{
      /* padding-left: calc(var(--bs-gutter-x) * -0.5); */
      padding: inherit;
      width: inherit;
    }
    
  .topnav ul li{
    display: inline-block;
  }

  .topnav ul li a {
    color:#c0c0c0;
    display:block;
    font-weight: bold;
    font-size: 1.2rem;
    padding:0px 50px;
    text-decoration:none;
    line-height: 75px;
  }
  
  .topnav ul li:hover {
    background: #811414;
  }
  
  
  .topnav ul li:hover > a{
      color:#FFFFFF;
  }
  
  .topnav ul li ul li:hover > ul {
    display:block;
    width: 100%;
    height: max-content;
    position: absolute;
  }
  
  .topnav ul ul {
    background: #292929;
    text-align: center;
    display:none;
    width: 100%;
    height: max-content;
    position: absolute;
    top: 75px;
    left: 0px;
  }

  .articlesNav .row{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .articlesNav .row .industryList{
    width: 450px;
    height: inherit;
    margin: 25px 0 25px 0;
    padding: 0px;
  }

  .articlesNav .row .industryArticles{
    display:flex; 
    margin: auto 50px;
    width:800px; 
    height:max-content;
    justify-content: center;
  }

  .articlesNav .row .industryArticles div a{
    width: 400px;
    margin: 25px;
    padding: 25px;
    background-color:rgb(39, 142, 107);
  }

  .navArticleImage{
    max-height: 500px;
  }
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }






  
@media screen and (max-width: 1320px) {
  .topnav ul li:nth-last-child(1) {
    display: none;
  }

}

@media screen and (max-width: 1320px) {

  .topnav.responsive ul {
    position: relative;
    overflow-y: scroll;
    height: 300px;
    /* height: max-content; */
  }

  .topnav.responsive ul li:nth-last-child(1) {
    float: none;
    display: block;
  }

  .topnav.responsive ul ul {
    background: #34529f;
    display: none;
    position: inherit;
  }

}

@media screen and (max-width: 1165px) {
  .topnav ul li:nth-last-child(2) {
    display: none;
  }
}
@media screen and (max-width: 1165px) {

  .topnav.responsive ul {position: relative;}
  .topnav.responsive ul li:nth-last-child(2) {
    float: none;
    display: block;
  }

}
@media screen and (max-width: 1025px) {
  .topnav ul li:nth-last-child(3) {
    display: none;
  }
}
@media screen and (max-width: 1025px) {

  .topnav.responsive ul {position: relative;}
  .topnav.responsive ul li:nth-last-child(3) {
    float: none;
    display: block;
  }

}
@media screen and (max-width: 705px) {
  .topnav ul li:nth-last-child(4) {
    display: none;
  }
}
@media screen and (max-width: 705px) {

  .topnav.responsive ul {position: relative;}
  .topnav.responsive ul li:nth-last-child(4) {
    float: none;
    display: block;
  }

}
@media screen and (max-width: 580px) {
  .topnav ul li:nth-last-child(5) {
    display: none;
  }
}
@media screen and (max-width: 580px) {

  .topnav.responsive ul {position: relative;}
  .topnav.responsive ul li:nth-last-child(5) {
    float: none;
    display: block;
  }

}

@media screen and (max-width: 540px) {
  .topnav ul li:nth-last-child(6) {
    display: none;
  }
  .topnav ul li:nth-last-child(7) {
    display: block;
  }
}
@media screen and (max-width: 540px) {

  .topnav.responsive ul {position: relative;}
  .topnav.responsive ul li:nth-last-child(6) {
    float: none;
    display: block;
  }

}
